<h3 align="center">Location: <%= @activity.location %></h3>
<div class="well col-xs-8 col-xs-offset-2">
  <h4 class="center bio"><strong>Bio</strong></h4>
  <hr>
  <%= simple_format(@activity.bio) %>
  <div class="activity-actions">
      <%= link_to "Edit this activity", edit_activity_path(@activity), class: "btn btn-primary" %>
      <%= link_to "Delete this article", activity_path(@activity), method: :delete, data: { confirm: "Are you sure , you want to delete the activity?"}, class: "btn btn-danger" %>
      <%= link_to "view all activites listing", activities_path, class: "btn btn-success" %>
  </div>
</div>
