<!DOCTYPE html>
<html>
<head>
  <title>Gym Members</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://use.fontawesome.com/f40685afe6.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="border"></div>

<%= render 'layouts/navigation' %>
<%= render 'layouts/messages' %>


<%= yield %>

<%= render 'layouts/footer' %>
<%= debug(params) if Rails.env.development? %>

</body>
</html>
