<h1 align="center">All Gym Members </h1>
  <div align="center">
  <%= will_paginate %>
  <% @members.each do |member| %>
    <ul class="listing">
      <div class="row">
        <div class="well col-md-4 col-md-offset-4">
          <li><%= link_to gravatar_for(member), member_path(member) %></li>
          <li class="member-title">
            <%= link_to member.username, member_path(member) %>
          </li>

          <li><small><%= pluralize(member.activities.count, "activity") if member.activities %></small></li>
          <% if logged_in? and current_member.admin? %>
            <li><%= link_to "Delete this gym member", member_path(member), method: :delete, data: { confirm: "Are you sure you want to 
              delete the user and all their activities"} %></li>
          <% end %>
        </div>
      </div>
    </ul>
  <% end %>
  <%= will_paginate %>
  </div>
